/* archive-event */

#events {
    background-color:#fff !important;
}

#events article {
    padding: 0 3em 3em 3em;
}

#events .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    padding-bottom: 80px;
}

@media screen and (max-width: 782px) {
	#events .event-list {
        grid-template-columns: 1fr;
    }
}

#events .event-list a {
    display: block;
}

#events .image::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
}

#events .image {
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    z-index: 0;
}

#events .title {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 30px;
}

#events .title a {
    color: var(--ast-global-color-3);
}

#events .description {
    color: var(--ast-global-color-3);
}

/* taxonomy-event_category */

#archive-event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    padding-bottom: 80px;
}

@media screen and (max-width: 782px) {
	#archive-event{
        grid-template-columns: 1fr;
    }
}

#archive-event .box {
    background: #fff;
    border-radius: 6px;
}

#archive-event .image {
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    z-index: 0;
    border-radius: 6px 6px 0 0;
    height: 200px;
}

#archive-event .info {
    padding: 20px;
}

#archive-event .title {
    line-height: 1.3em;
    margin-bottom: 0.6em;
}

#archive-event .event-date {
    color: var(--ast-global-color-3);
}

#archive-event .event-date > span {
    font-weight: 800;
    font-size: larger;
    display: block;
}

/* single-event */